<h1>Mostrando todos los post</h1>
<p>Cantidad de posts: <%= @posts.count %></p>

<% @posts.each do |p| %>
<h2><%= p.title %></h2>
<p><%= p.content %></p>
<% end%>

<div>
<%= link_to "Agregar nuevo Post", posts_new_path, class:"btn btn-dark" %>
</div>